// Generated with Lushay Code

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LEDrow[0]" 32;
IO_PORT "LEDrow[0]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "LEDrow[1]" 71;
IO_PORT "LEDrow[1]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "LEDrow[2]" 28;
IO_PORT "LEDrow[2]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "LEDrow[3]" 48;
IO_PORT "LEDrow[3]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "LEDrow[4]" 38;
IO_PORT "LEDrow[4]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "LEDrow[5]" 27;
IO_PORT "LEDrow[5]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "LEDrow[6]" 37;
IO_PORT "LEDrow[6]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "LEDrow[7]" 25;
IO_PORT "LEDrow[7]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "LEDcol[0]" 70;
IO_PORT "LEDcol[0]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "LEDcol[1]" 36;
IO_PORT "LEDcol[1]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "LEDcol[2]" 39;
IO_PORT "LEDcol[2]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "LEDcol[3]" 31;
IO_PORT "LEDcol[3]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "LEDcol[4]" 26;
IO_PORT "LEDcol[4]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "LEDcol[5]" 49;
IO_PORT "LEDcol[5]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "LEDcol[6]" 72;
IO_PORT "LEDcol[6]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "LEDcol[7]" 73;
IO_PORT "LEDcol[7]" DRIVE=8 IO_TYPE=LVCMOS33;
